*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */


.font-family{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
  font-size: 45px;
  font-weight: 900;
  text-transform: capitalize;
}

.logo-color{
  color: #FD6E0A;
}

.btn{

  background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;

}

.section-heading{
  max-width: 827px;
  text-align: center;
  margin: 0 auto;

}

.section-heading h2{
  font-size: 35px;
  color: #181818;
  margin-bottom: 30px;

}

.section-heading p{
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;

}

.container{
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
}


.text-center{
  text-align: center;
}


/* main style */

header{
  background-color: #FFF8F3;
  padding-top: 50px;
  background: url("hero-dev-portfolio-resources/images/developer.png") , url("hero-dev-portfolio-resources/images/header_bg.png") ,  #FFF8F3 ;
  background-repeat: no-repeat;
  background-position: 23px 38px, bottom right;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  display: flex;
  align-items: center;
  gap: 51px;
  list-style: none;
}

.menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}


#banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 47px 38px 0 230px;
}

.banner-content{
  max-width: 585px;
}


#banner .banner-content h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}


#banner .banner-content h1{
  font-size: 85px;
  font-weight: bold;
  color: 181818;
  margin-bottom: 20px;
}


#banner .banner-content p{
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
  
}

#banner .banner-image img{
  max-width: 584px;
  vertical-align: middle;
}

#about ,
#skills ,
#resume{
  padding-top: 130px;
}

.about-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 156px;
}

#about .about-container .about-info{
  display: flex;
  justify-content: space-around;
  

}

.about-info .info-card p{
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}

.about-info .info-card h4{
  font-size: 20px;
  line-height: 30px;
  color: #474747;
}


.skills-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

.skill-box{
  display: flex;
  gap: 24px;
}

.skill-box .skill-card{
  padding: 30px;
  /* border: 1px solid red; */
  max-width: 267px;
  box-shadow: 0 6px 50px 0 #0000003d;

}

.skill-card img{
  max-width: 44px;
  margin-bottom: 30px;
}

.skill-card h3{
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}

.skill-card p{
  font-size: 16px;
  line-height: 24px;
  color: #757575;
}
.resume-container hr{
  margin: 30px 0;
}

.resume-container{
  width: 70%;
  max-width: 1140px;
  display: flex;
  margin: 113px auto 0;
  gap: 24px;
}

.section-title{
  font-size: 30px;
  color: #474747;
  margin-bottom: 30px;
}

.resume-card{
  max-width: 511px;
  margin-right: 47px;
}

.card-title{
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}

.card-info{
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}

.card-text{
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}


footer{
  margin-top: 113px;
  background-color: #FFF8F3;
  padding: 130px 0;
}

#footer-container{
  width: 71%;
  max-width: 1140px;
  display: flex;
  margin: 0 auto;
  gap: 116px;
}


.social{

  max-width: 562px;
}

#footer-container h2{
  font-size: 35px;
  color: #181818;
  margin-bottom: 20px;
}

#footer-container p{
  font-size: 16px;
  line-height: 28px;
  color: #474747;
  margin-bottom: 30px;
}


.icons a{
  margin-right: 24px;
}

.form input[type="text"],input[type="email"] {
  width: 461px;
  padding: 18px 30px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  border: none;
  border-radius: 5px;
}
form textarea{
  width: 461px;
  padding: 18px 30px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  border: none;
  border-radius: 5px;
}