*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-family{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
  font-size: 45px;
  font-weight: 900;
  text-transform: capitalize;
}

.logo-color{
  color: #FD6E0A;
}

.btn{

  background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: bold;

}

/* main style */

header{
  background-color: #FFF8F3;
  padding-top: 50px;
}

nav{
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.menu{
  display: flex;
  align-items: center;
  gap: 51px;
  list-style: none;
}

.menu a {
  font-size: 20px;
  font-weight: normal;
  color: #474747;
  text-decoration: none;
}